# Global Settings Config
NODE_ENV=development

#Port
PORT=3000
WS_PORT=8080
NEXT_PUBLIC_API_URL=http://localhost:3000

# Service Connection String URIs
REDIS_URL=redis://localhost:6379
DATABASE_URL=postgresql://postgres:mysecretpassword@localhost:5432/exchange_db?schema=public